[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IPLGP"]
	path = IPLGP
	url = https://github.com/py-chung/iplgp
[submodule "QTLEMM"]
	path = QTLEMM
	url = https://github.com/py-chung/qtlemm
